*{
    margin: 0;
    padding: 0;
    box-sizing: border;
}

span{
    background-color: white;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    text-align: center;
    margin: 5px 5px 5px 10px;
    box-shadow: 0.2px 0.3px 2px rgba(0, 0, 0, 0.5);
}

#nameform{
    background-color: white;
    max-width: 220px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 25px;
    box-shadow: 0.2px 0.3px 2px rgba(0, 0, 0, 0.5);
    animation: modalUp 0.7s 0.3s forwards;
}

#name-input{
    border: none;
    padding: 6px;
    margin-bottom: 5px;
    background-color: white;
    border-bottom: 1px solid black;
    outline: none;
}

#name-btn{
    width: 100%;
    padding: 10px;
    border: none;
    background-color: green;
    color: white;
    cursor: pointer;

}

@keyframes modalUp{
    from {
        top: 100%;
        opacity: 0;
    }
    to{
        top: 50%;
        opacity: 1;
    }
}
/*
https://codepen.io/moshfequr9/pen/wXQbPR
 */
img {
    max-width:100%;
  }
  .avator {
    border-radius:100px;
    width:48px;
    margin-right: 15px;
  }


  .tweet-wrap {
    max-width:490px;
    background: #fff;
    margin: 0 auto;
    border-radius:3px;
    padding: 10px;
    border-bottom: 1px solid #e6ecf0;
    border-top: 1px solid #e6ecf0;
  }

  .tweet-header {
    display: flex;
    align-items:flex-start;
    font-size:14px;
    padding: 10px;
  }
  .tweet-header-info {
    font-weight:bold;
  }
  .tweet-header-info span {
    color:#657786;
    font-weight:normal;
    margin-left: 5px;
  }
  .tweet-header-info p {
    font-weight:normal;
    margin-top: 5px;

  }

  @media screen and (max-width:430px){
    body {
      padding-left: 20px;
      padding-right: 20px;
    }
    .tweet-header {
      flex-direction:column;
    }
    .tweet-header img {
      margin-bottom: 20px;
    }
    .tweet-header-info p {
      margin-bottom: 30px;
    }
    .tweet-img-wrap {
      padding-left: 0;
    }

  }

/*   https://codepen.io/Cepm10/pen/jOOGeBd?__cf_chl_jschl_tk__=cbc87176852e01ea13c89395f54f9e5b5db86509-1589146454-0-AWXZWkK5DkvybLHPrj8yT-SaPmNxttlJZ54TuXgmJPtIayqCq1HpWSCHGXTGMefp9rzMiRA2mDeXGrzdiVGWCzpiavQlg4UnKRcyWectmpKTmpIbct7FzmVglB8qjxxYomjSGmu4jTtSM5wBYLvUMm_iByZU_6N9o64T-Y1jRY5JiCTWeLgIVGkMOrszztCgR_f882tHEXUCY-u75fUJh0PEhuBIdmbOn91-n42O6iJvRWx_FViUyRl3I5eQJ_RPr9QCoeaWB5QSafeTd-vIXrcbip3L33wMGLTzKFFP5_TddPqWxH5Nr8w1ExTuExNO-2Ks2R-Jno8BMT7vSWkQV1jnjkYZjsXxtTsttFaes1ep
 */
 #botonF1 {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: #00acee;
  right: 0;
  bottom: 0;
  position: fixed;
  margin-right: 16px;
  margin-bottom: 50px;
  font-size: 36px;
  border: none;
  z-index: 2;
}

#botonF2 {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: green;
  right: 0;
  top: 0;
  position: fixed;
  font-size: 20px;
  border: none;
}


#formpost{
  background-color: red;
  max-width: 900px;
  max-height: 200px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 25px;
  z-index: 2;
  display: none;
}

#post-input{
  border: none;
  padding: 10px;
  margin-bottom: 5px;
}

#post-btn{
  padding: 10px;
  width: 100%;

}

#cover{
  width: 100%;
  margin-bottom: 20px;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5%;
  display: flex;
  background-color: black;
  align-items: center;
  justify-content: center;
}

#signWithGoogle{
  padding: 5px;
}

#signOutGoogle{
  position: relative;
  height: 80%;
  display: none;
  padding: 5px;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5vh;
  display: flex;
  background-color: black;
  align-items: center;
  justify-content: center;
}

#content{
  margin-top: 5vh;
}

#profile {
  margin-top: 5vh;
  display: none;
}

#goToProfile {
  display: none;
}

#backToFeed {
  display: none;
}