*{
    margin: 0;
    padding: 0;
    box-sizing: border;
}

span{
    background-color: white;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    text-align: center;
    margin: 5px 5px 5px 10px;
    box-shadow: 0.2px 0.3px 2px rgba(0, 0, 0, 0.5);
}

#nameform{
    background-color: white;
    max-width: 220px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 25px;
    box-shadow: 0.2px 0.3px 2px rgba(0, 0, 0, 0.5);
    animation: modalUp 0.7s 0.3s forwards;
}

#name-input{
    border: none;
    padding: 6px;
    margin-bottom: 5px;
    background-color: white;
    border-bottom: 1px solid black;
    outline: none;
}

#name-btn{
    width: 100%;
    padding: 10px;
    border: none;
    background-color: green;
    color: white;
    cursor: pointer;

}

@keyframes modalUp{
    from {
        top: 100%;
        opacity: 0;
    }
    to{
        top: 50%;
        opacity: 1;
    }
}
/*
https://codepen.io/moshfequr9/pen/wXQbPR
 */
img {
    max-width:100%;
  }

#icon{
  width: 16px;
  height: 16px;
}

#iconpost{
  width: 30px;
  height: 30px;
}
  .avator {
    border-radius:100px;
    width:48px;
    margin-right: 15px;
  }


  .tweet-wrap {
    max-width:490px;
    background: #fff;
    margin: 0 auto;
    border-radius:3px;
    padding: 10px;
    border-bottom: 1px solid #e6ecf0;
    border-top: 1px solid #e6ecf0;
  }

  .tweet-header {
    display: flex;
    align-items:flex-start;
    font-size:14px;
    padding: 10px;
  }
  .tweet-header-info {
    font-weight:bold;
  }
  .tweet-header-info span {
    color:#657786;
    font-weight:normal;
    margin-left: 5px;
  }
  .tweet-header-info p {
    font-weight:normal;
    margin-top: 5px;
    font-size: 1.5em;

  }

  @media screen and (max-width:430px){
    .tweet-header {
      flex-direction:column;
    }
    .tweet-header img {
      margin-bottom: 20px;
    }
    .tweet-header-info p {
      margin-bottom: 30px;
    }
    .tweet-img-wrap {
      padding-left: 0;
    }

  }

/*   https://codepen.io/Cepm10/pen/jOOGeBd?__cf_chl_jschl_tk__=cbc87176852e01ea13c89395f54f9e5b5db86509-1589146454-0-AWXZWkK5DkvybLHPrj8yT-SaPmNxttlJZ54TuXgmJPtIayqCq1HpWSCHGXTGMefp9rzMiRA2mDeXGrzdiVGWCzpiavQlg4UnKRcyWectmpKTmpIbct7FzmVglB8qjxxYomjSGmu4jTtSM5wBYLvUMm_iByZU_6N9o64T-Y1jRY5JiCTWeLgIVGkMOrszztCgR_f882tHEXUCY-u75fUJh0PEhuBIdmbOn91-n42O6iJvRWx_FViUyRl3I5eQJ_RPr9QCoeaWB5QSafeTd-vIXrcbip3L33wMGLTzKFFP5_TddPqWxH5Nr8w1ExTuExNO-2Ks2R-Jno8BMT7vSWkQV1jnjkYZjsXxtTsttFaes1ep
 */
 #botonF1 {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: #0c7489;
  color: white;
  right: 0;
  bottom: 0;
  position: fixed;
  margin-right: 16px;
  margin-bottom: 85px;
  font-size: 36px;
  border: none;
  z-index: 2;
}

#botonF2 {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: #0c7489;
  right: 0;
  bottom: 0;
  position: fixed;
  margin-right: 16px;
  margin-bottom: 85px;
  font-size: 36px;
  border: none;
  z-index: 2;
  color: white;
}

.inputFile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputFile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: #0c7489;
    display: inline-block;
    cursor: pointer;
    padding: 20px;
    border-radius: 20px;
}

.inputFile:focus + label,
.inputFile + label:hover {
    background-color: #0c7489;
}

.inputFile + label * {
	pointer-events: none;
}

.inputFile + label span {
  max-width: 20px; */
    word-wrap: wrap;
    /* word-break: break-all; */
    /* overflow: hidden; */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100px;
    /* display: inline-block; */
}
.inputFile + label * {
    pointer-events: none;
}

.inputFile + label span {
  word-wrap: wrap;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100px;
  background-color: transparent;
  display: inline-block;
  padding: 0px;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
  margin: 0;
  box-shadow: none;
}



#formpost{
  padding: 10px;
  margin-bottom: 5px;
  margin-top: 12vh;
  display: none;

}

#post-input{
  padding: 10px;
  margin-bottom: 5px;
  width: -webkit-fill-available;
}

#post-btn{
  padding: 10px;
  width: 100%;

}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8vh;
  display: flex;
  background-color: black;
  align-items: center;
  justify-content: center;
}
/*
https://www.w3schools.com/css/css3_buttons.asp
 */
#signWithGoogle{
    background-color: #13505b; /* Green */
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    padding: 5px 20px;
}

#signOutGoogle{
  background-color: #13505b; /* Green */
  border: none;
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 5px 41px;
  display: none;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5vh;
  display: flex;
  background-color: white;
  justify-content: space-between;
  opacity: 0.9;
}

#content{
  margin-top: 5vh;
}

#profile {
  margin-top: 5vh;
  display: none;
}

#goToProfile {
  background-color: #119da4; /* Green */
  border: none;
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 5px 20px;
  display: none;
  height: 100%;
}

#backToFeed {
  background-color: #119da4; /* Green */
  border: none;
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 5px 20px;
  display: none;
  height: 100%;
}


/******************************************************************************/
/*                      Switch Button - Notifications                         */
/*                                                                            */
/* https://www.w3schools.com/howto/howto_css_switch.asp                       */
/******************************************************************************/


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 4px
}

input:checked + .slider {
  background-color: #13505b;
}

input:focus + .slider {
  box-shadow: 0 0 1px #13505b;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


#post-btn {
  width: 60px;
  height: 65px;
  border-radius: 20px;
  background-color: #0c7489;
  right: 0;
  bottom: 0;
  margin-right: 16px;
  margin-bottom: 85px;
  font-size: 36px;
  border: none;
  z-index: 2;
  color: white;
  right: 0;
  margin-left: 10px;
}

#post-input {
  height: 50vh;
  font-size: large;
}

#footer button {
  width: 100%;
  height: 100%;
}

#postOptions input,label,button {
  float:right
}

#all {
  margin-top: 10vh;
}
