*{
    margin: 0;
    padding: 0;
    box-sizing: border;
    background-color: white ;
}

/*
.board{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
*/

.board {
  text-align: center;
  width: 100%;
}

.board-header{
    text-align: center;
    background-color: white;
    font-size: 30px;
    padding: 60px;
    color: black;
}

.board-windows{
    background-color: white ;
 /*    height: 360px;
    width: 600px;
    overflow-y: scroll; */
}

#postform{
    background-color:white ;
    position: absolute;

    width: 100%;
}

#post-input{
    padding: 10px;
    border-radius: 5px;
    outline: none;
    background-color: white;
}

#post-btn{
    width: 20%;
    border-radius: 10px;
    cursor: pointer;
    background-color: aliceblue;
    border: none;
}

.post{
    list-style-type: none;
    width: 100%;
}

span{
    background-color: white;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    text-align: center;
    margin: 5px 5px 5px 10px;
    box-shadow: 0.2px 0.3px 2px rgba(0, 0, 0, 0.5);
}

#nameform{
    background-color: white;
    max-width: 220px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 25px;
    box-shadow: 0.2px 0.3px 2px rgba(0, 0, 0, 0.5);
    animation: modalUp 0.7s 0.3s forwards;
}

#name-input{
    border: none;
    padding: 6px;
    margin-bottom: 5px;
    background-color: white;
    border-bottom: 1px solid black;
    outline: none;
}

#name-btn{
    width: 100%;
    padding: 10px;
    border: none;
    background-color: green;
    color: white;
    cursor: pointer;

}

@keyframes modalUp{
    from {
        top: 100%;
        opacity: 0;
    }
    to{
        top: 50%;
        opacity: 1;
    }
}
/*
https://codepen.io/moshfequr9/pen/wXQbPR
 */
img {
    max-width:100%;
  }
  .avator {
    border-radius:100px;
    width:48px;
    margin-right: 15px;
  }


  #tweet-wrap {
    max-width:490px;
    background: #fff;
    margin: 0 auto;
    margin-top: 50px;
    border-radius:3px;
    padding: 30px;
    border-bottom: 1px solid #e6ecf0;
    border-top: 1px solid #e6ecf0;
    overflow-y: scroll;
  }

  .tweet-header {
    display: flex;
    align-items:flex-start;
    font-size:14px;
    padding: 10px;
  }
  .tweet-header-info {
    font-weight:bold;
  }
  .tweet-header-info span {
    color:#657786;
    font-weight:normal;
    margin-left: 5px;
  }
  .tweet-header-info p {
    font-weight:normal;
    margin-top: 5px;

  }

  @media screen and (max-width:430px){
    body {
      padding-left: 20px;
      padding-right: 20px;
    }
    .tweet-header {
      flex-direction:column;
    }
    .tweet-header img {
      margin-bottom: 20px;
    }
    .tweet-header-info p {
      margin-bottom: 30px;
    }
    .tweet-img-wrap {
      padding-left: 0;
    }

  }
